* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.material-icons {
	vertical-align: bottom;
}

body {
    background: #d3d3d3;
}

.container {
    width: 87%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

header {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 85px;
    align-items: flex-end;
}

header a {
    font-size: 54px;
    font-weight: 600;
	text-decoration: none;
	color: black;
}

header a:hover {
	text-decoration: underline;
}

header p {
    font-size: 36px;
    margin-top: -8px;
}

section.portfolio h1 {
    font-size: 33px;
    font-weight: bold;
    margin-bottom: 30px;
}

section.portfolio .works {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 70px;
}

section.portfolio .work {
    overflow: hidden;
	border: 25px solid white;
	background-color: white;
}

section.portfolio .work img {
    width: 100%;
    height: 325px;
    object-fit: cover;
    object-position: top;
    transition: all 1.25s;
}

section.portfolio .work img.img_pos_bottom{
	object-position: bottom;
}

section.portfolio .work img:hover {
    width: 125%;
}

section.portfolio .work p {
    margin-top: 15px;
    border-top: 2px solid gray;
}

section.portfolio .work a {
    font-size: 20px;
    font-weight: 600;
	text-decoration-line: none;
}

section.portfolio .work a:hover {
	text-decoration-line: underline;
}

section.contacts {
	margin-bottom: 50px;
	margin-top: 65px;
}

section.contacts h1 {
    font-size: 33px;
    font-weight: bold;
    margin-bottom: 5px;
}

section.contacts p {
    font-size: 20px;
	margin-bottom: 10px;
}

section.contacts img {
	width: 22px;
    height: 22px;
	vertical-align: top;
}

section.article {
	padding-bottom: 25px;
}

section.article h1 {
    font-size: 33px;
    font-weight: bold;
    margin-bottom: 30px;
}

section.article p {
	font-size: 20px;
    text-indent: 40px;
    background-color: white;
	line-height: 1.75;
}

section.article video {
	display: block;
	width: 100%;
	height: 400px;
	margin-top: 20px;
}

section.article .text-block img {
	width: 100%;
}

section.article .text-block .img-caption {
	text-align: center;
	text-indent: 0;
    font-size: 16px;
    font-weight: bold;
}

.text-block {
    padding: 60px 140px;
    margin-top: 20px;
    background-color: white;
}

@media (max-width:900px) {
    header {
        display: block;
        margin-bottom: 45px;
    }
    
    section.portfolio h1, section.article h1 {
        margin-bottom: 18px;
    }
    
    section.portfolio .works {
        grid-row-gap: 60px;
    }
	
	.text-block {
		padding: 30px 70px;
		word-break: break-word;
	}
}

@media (max-width:460px) {
	header {
        display: block;
        margin-bottom: 75px;
    }
	
    header h1 {
        line-height: 55px;
    }
    
    header p {
        margin-top: 12px;
    }
	
	.text-block {
		padding: 30px 35px;
	}
	
	section.article {
		width: 100%;
		padding: 0;
	}
	
	section.article h1 {
		width: 87%;
		margin-left: auto;
		margin-right: auto;
		padding: 0 15px;
	}
	
	section.article p {
		font-size: 18px;
	}
}