<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agency</title>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">
    <script defer src="script.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <header>
        <div class="container">
            <nav>
                <ul>
                    <li class="current-page"><a href="#">Home</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
            <video class="clearfix" src="img/video.mp4" controls></video>
            <h1>Our strong<br>organaisation</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididunt  ut labore et. ectetur adig ipis cing elit, sed do eiusmod tempor incididunt.</p>
            <a class="button_small" href="#">About Us</a>
        </div>
    </header>
    <section id="provide">
        <div class="container grid">
            <div class="left-side grid">
                <h1 class="section-title">Do you know we can<br>provide for you?</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididunt ut labore et.Lorem ni ipsum dolor sit amet, consectetur adipis cing elit, ed doi eiusmod tempor incididunt ut labore et.</p>
                <a class="button_small" href="#">Learn More</a>
            </div>
            <div class="right-side grid">
                <div class="grid-item">
                    <img src="img/Settings.png" alt="">
                    <h2>Management</h2>
                    <p>Lorem ipsum dolor sitea amet, zixf conseit  adipi cing elit, seddi do eiusmod btdempor in didunt utlae ore etioe.Lorem ipsum new idolor</p>
                </div>
                <div class="grid-item">
                    <img src="img/Pencil.png" alt="">
                    <h2>UI /UX Design</h2>
                    <p>Lorem ipsum dolor sitea amet, zixf conseit  adipi cing elit, seddi do eiusmod btdempor in didunt utlae ore etioe.Lorem ipsum new idolor sit amet,</p>
                </div>
                <div class="grid-item">
                    <img src="img/Diamond.png" alt="">
                    <h2>Logo / Branding</h2>
                    <p>Lorem ipsum dolor sitea amet, zixf conseit  adipi cing elit, seddi do eiusmod btdempor in didunt utlae ore etioeew idolor sit amet,</p>
                </div>
                <div class="grid-item">
                    <img src="img/Truck%202.png" alt="">
                    <h2>Animation</h2>
                    <p>Lorem ipsum dolor sitea amet, zixf conseit  adipi cing elit, seddi do eiusmod btdempor in didunt utlae ore etioe.Lorem ipsum new idolor sit amet,</p>
                </div>
                
            </div>
        </div>
    </section>
    <section id="feature-products">
           <div class="container">
               <h1 class="section-title">Feature products</h1>
               <p>Lorem ipsum dolor sit amet, consectetur adipis cing elit,sed do eiusmod tempor incididunt ut labore et.</p>
               <div class="red-line"></div>
               <nav>
                   <ul>
                       <li class="current-block"><a href="#">All</a></li>
                       <li><a href="#">Print template</a></li>
                       <li><a href="#">Web template</a></li>
                       <li><a href="#">User interface</a></li>
                       <li><a href="#">Mock-up</a></li>
                   </ul>
               </nav>
               <div class="imgs grid">
                   <img src="img/work1.jpg" alt="">
                   <img src="img/work2.jpg" alt="">
                   <img src="img/work3.jpg" alt="">
                   <img src="img/work4.jpg" alt="">
                   <img src="img/work5.jpg" alt="">
                   <img src="img/work6.jpg" alt="">
                   <img src="img/work7.jpg" alt="">
                   <img src="img/work8.jpg" alt="">
               </div>
        </div>
    </section>
    <section id="our-team">
        <div class="container">
            <h1 class="section-title">Meet our team</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed dooing eiusmod tempor incididut labore UI / UX , print template.</p>
            <div class="red-line"></div>
            <div class="member-choose grid">
                <div class="current-member">
                    <img id="img-of-current-member" src="img/person1.jpg" alt="Photo of current team member">
                </div>
                <div class="info-and-other-members">
                    <div class="info">
                        <h2 id="current-member-name">Mark Waugh</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed dooing eiusmod tempor incididut labore Ui / Ux , print template.</p>
                        <ul>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Dribble</a></li>
                            <li><a href="#">Behance</a></li>
                            <li><a href="#">Twiter</a></li>
                        </ul>
                    </div>
                    <div class="other-members grid">
                        <div class="member">
                            <img src="img/person1.jpg" alt="Photo of team member">
                            <p>MARK WAUGH</p>
                        </div>
                        <div class="member">
                            <img src="img/person2.jpg" alt="Photo of team member">
                            <p>PETER SIA</p>
                        </div>
                        <div class="member">
                            <img src="img/person3.jpg" alt="Photo of team member">
                            <p>sokina jue</p>
                        </div>
                        <div class="member">
                            <img src="img/person4.jpg" alt="Photo of team member">
                            <p>Liza Franta</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="subscribe">
        <div class="container">
            <h1>Design tips, tricks, and freebies. Delivered weekly.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod.</p>
            <form>
                <input type="email" name="email-subscribe" placeholder="Email Address...">
                <button type="submit">Subscribe</button>
            </form>
        </div>
    </section>
    <section id="get-in-touch">
        <div class="container">
            <h1 class="section-title">Get in touch</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididunt ut labore et.ur adipis cing elit, sed do eiusmod tempor incididunt ut labore et. ur adipis cing elit, sed do eiusmod tempor incididunt ut labore et.</p>
            <div class="red-line"></div>
            <div class="form-and-contact-info grid">
                <form>
                    <div>
                        <input type="text" name="name" placeholder="Name">
                        <input type="email" name="email-form" placeholder="Your Mail">
                    </div>
                    <textarea placeholder="Type your message"></textarea>
                    <button type="submit">Send message</button>
                </form>
                <div class="contact-info">
                    <div>
                        <h2>Contact info</h2>
                        <p>Jalalabad 24 / A, Ambaarkhana, Sylhet,<br>Bangladesh</p>
                        <p>redwan@deviserweb.com</p>
                        <p>(+88) 017 617 46373</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <p>© Copyright @Junaed 2016, All rights reserved.</p>
            <ul>
                <li><a href="#"><img src="img/Twitter_Rounded_Solid.png"></a></li>
                <li><a href="#"><img src="img/LinkedIn_Rounded_Solid.png"></a></li>
                <li><a href="#"><img src="img/Google_Rounded_Solid.png"></a></li>
                <li><a href="#"><img src="img/Facebook_Rounded_Solid.png"></a></li>
            </ul>
        </div>
    </footer>
</body>
</html>