body {
    background: #F0EDDF;
}

h1 {
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

div {
    width: 70%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: 350px;
    object-fit: cover;
}