<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Lato|Roboto:300,400,700" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">
        <link href="css/about.css" rel="stylesheet">
        <link rel="icon" type="image/png" href="img/favicons/favicon-16x16.png" sizes="16x16" data-mce-href="/favicon-16x16.png">
        <link rel="icon" type="image/png" href="img/favicons/favicon-32x32.png" sizes="32x32" data-mce-href="/favicon-32x32.png">
        <link rel="icon" type="image/png" href="img/favicons/favicon-96x96.png" sizes="96x96" data-mce-href="/favicon-96x96.png">
        <link rel="icon" type="image/png" href="img/favicons/android-chrome-192x192.png" sizes="192x192" data-mce-href="/android-chrome-192x192.png">
        <title>Lian</title>
    </head>
    <body>
        
        <header>
            <div class="container">
                <a href="index.html"><img src="img/logo.png" alt="Lian logo"></a>
                <nav>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li class="selected"><a href="about.html">About</a></li>
                        <li><a href="portfolio_details.html">Portfolio</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        
        <section class="title-and-bg">
            <div class="container">
                <h1>About The Agency</h1>
                <h2>Welcome to Lian</h2>
            </div>
        </section>
        
        <section id="our-story-our-skills">
            <div class="container">
                <img src="img/about_team.jpg" alt="3 People" id="our-story-our-skills-img">
                <div class="text-wrapper">
                    <h1>Our Story</h1>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit.</p>
                    <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.</p>
                    <h1 id="our-skills">Our Skills</h1>
                    <img src="img/skills.png" alt="Level of skills">
                </div>
            </div>
        </section>
        
        <section id="awesome-team">
            <div class="container">
                <h1>Awesome Team</h1>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit.</p>
                
                <div id="cards">
                    <div class="card">
                        <img src="img/person1.jpg" alt="1 person of team">
                        <div class="text">
                            <h2>Lian Joy</h2>
                            <h3>CEO/Founder</h3>
                            <p>Lorem ipsum dolor sit amet, conse ctetuer adipi scing elit, sed diam nonu mmy nibh euis mod tinci</p>
                        </div>
                    </div>
                    
                    <div class="card">
                        <img src="img/person2.jpg" alt="2 person of team">
                        <div class="text">
                            <h2>Albert Thanh</h2>
                            <h3>CEO/Founder</h3>
                            <p>Lorem ipsum dolor sit amet, conse ctetuer adipi scing elit, sed diam nonu mmy nibh euis mod tinci</p>
                        </div>
                    </div>
                    
                    <div class="card">
                        <img src="img/person3.jpg" alt="3 person of team">
                        <div class="text">
                            <h2>Jenn Pereira</h2>
                            <h3>CEO/Founder</h3>
                            <p>Lorem ipsum dolor sit amet, conse ctetuer adipi scing elit, sed diam nonu mmy nibh euis mod tinci</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <footer>
            <div class="container">
                <img src="img/logo.png" alt="Lian logo">
                <p id="social-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#"><i class="fab fa-dribbble"></i></a>
                    <a href="#"><i class="fab fa-pinterest"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </p>
                <p>© 2016 <span>Mulitix Theme</span> by ThemeForces. All rights reserved.</p>
            </div>
        </footer>
    </body>
</html>