<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Lato|Roboto:300,400,700" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">
        <link rel="icon" type="image/png" href="img/favicons/favicon-16x16.png" sizes="16x16" data-mce-href="/favicon-16x16.png">
        <link rel="icon" type="image/png" href="img/favicons/favicon-32x32.png" sizes="32x32" data-mce-href="/favicon-32x32.png">
        <link rel="icon" type="image/png" href="img/favicons/favicon-96x96.png" sizes="96x96" data-mce-href="/favicon-96x96.png">
        <link rel="icon" type="image/png" href="img/favicons/android-chrome-192x192.png" sizes="192x192" data-mce-href="/android-chrome-192x192.png">
        <title>Lian</title>
    </head>
    <body>
        <div id="vh100-wrapper">
            <header>
                <div class="container">
                    <a href="index.html"><img src="img/logo.png" alt="Lian logo"></a>
                    <nav>
                        <ul>
                            <li class="selected"><a href="index.html">Home</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="portfolio_details.html">Portfolio</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </header>

            <section id="slider">
                <div class="container">
                    <div id="title-and-nav-btns">
                        <h1>Lian Creative Agency</h1>
                        <h2>Minimal Freelance Portfolio</h2>
                    </div>
                    <!--<img class="arrow" src="img/Prev.png" alt="">
                    <img class="arrow" id="next" src="img/Next.png" alt="">
                    <div class="dots">
                        <div class="dot active"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                    </div>-->
                    
                </div>
            </section>
        </div>
        
        <section id="works">
            <div class="container">
                <nav>
                    <ul>
                        <li class="selected"><a href="#">All</a></li>
                        <li><a href="#">Logo</a></li>
                        <li><a href="#">Mobile App</a></li>
                        <li><a href="#">Wordpress</a></li>
                        <li><a href="#">Web Design</a></li>
                        <li><a href="#">UI/IX</a></li>
                        <li><a href="#">Branding</a></li>
                    </ul>
                </nav>
                
                <div class="works-imgs">
                    <img src="img/work1.jpg" alt="">
                    <img src="img/work4.jpg" alt="">
                    <img src="img/work7.jpg" alt="">
                    <img src="img/work2.jpg" alt="">
                    <img src="img/work5.jpg" alt="">
                    <img src="img/work8.jpg" alt="">
                    <img src="img/work10.jpg" alt="">
                    <img src="img/work3.jpg" alt="">
                    <img src="img/work6.jpg" alt="">
                    <img src="img/work9.jpg" alt="">
                </div>
            </div>
            <a href="#" class="flat-btn">Load More</a>
        </section>
        
        <footer>
            <img src="img/logo.png" alt="Lian logo">
            <p id="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                <a href="#"><i class="fab fa-dribbble"></i></a>
                <a href="#"><i class="fab fa-pinterest"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </p>
            <p>© 2016 <span>Mulitix Theme</span> by ThemeForces. All rights reserved.</p>
            
        </footer>
    </body>
</html>