<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Lato|Roboto:300,400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=PT+Serif:700i" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">
        <link href="css/portfolio_details.css" rel="stylesheet">
        <link rel="icon" type="image/png" href="img/favicons/favicon-16x16.png" sizes="16x16" data-mce-href="/favicon-16x16.png">
        <link rel="icon" type="image/png" href="img/favicons/favicon-32x32.png" sizes="32x32" data-mce-href="/favicon-32x32.png">
        <link rel="icon" type="image/png" href="img/favicons/favicon-96x96.png" sizes="96x96" data-mce-href="/favicon-96x96.png">
        <link rel="icon" type="image/png" href="img/favicons/android-chrome-192x192.png" sizes="192x192" data-mce-href="/android-chrome-192x192.png">
        <title>Lian</title>
    </head>
    <body>
        
        <header>
            <div class="container">
                <a href="index.html"><img src="img/logo.png" alt="Lian logo"></a>
                <nav>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li class="selected"><a href="portfolio_details.html">Portfolio</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        
        <section class="title-and-bg">
            <div class="container">
                <h1>Get in Touch</h1>
                <h2>Contact us Today</h2>
            </div>
        </section>
        
        <nav class="porfolio-nav">
            <div class="container">
                <div>
                    <a href="#"><i class="fas fa-chevron-left"></i> Previous</a>
                    <a href="#">Next <i class="fas fa-chevron-right"></i></a>
                </div>
                <a href="#"><i class="fas fa-align-justify"></i> Show all</a>
            </div>
        </nav>
        
        <section id="creative-agency">
            <div class="container">
                <div class="wrapper">
                    <div class="text-for-good">
                        <div class="title">
                            <h1>Pereira Creative Agency</h1>
                            <h3>Branding Design</h3>
                        </div>
                        <div class="description">
                            <h3><time datetime="2015-02-28">February 28, 2015</time><span class="likes"><i class="far fa-heart"></i> 324 likes</span></h3>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit.</p>
                        </div>
                        <div class="tags-and-roles">
                            <h2>Role On Project:</h2>
                            <p>Project Designer, Lead Designer, Markerting Head</p>
                            <h2>Tags:</h2>
                            <p>Mobile App, UI/UX design</p>
                        </div>
                    </div>
                    <div class="imgs">
                        <img class="current" src="img/work2.jpg"> 
                        <div class="other-goods">
                            <img class="other" src="img/work2.jpg"> 
                            <img class="other" src="img/work3.jpg"> 
                            <img class="other" src="img/work4.jpg"> 
                            <img class="other" src="img/work5.jpg"> 
                        </div>
                    </div>
                </div>
                <div class="share-btns">
                        <p id="share"><i class="fas fa-share-alt"></i>Share</p>
                        <p id="social-btns">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-google-plus-g"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-dribbble"></i></a>
                            <a href="#"><i class="fab fa-pinterest"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </p>
                    </div>
            </div>
        </section>
        
        <section id="related-works">
            <div class="container">
                <h1>Related Works</h1>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                
                <div id="cards">
                    <div class="card">
                        <img src="img/related_work1.jpg" alt="">
                    </div>
                    
                    <div class="card">
                        <img src="img/related_work2.jpg" alt="">
                    </div>
                    
                    <div class="card">
                        <img src="img/related_work3.jpg" alt="">
                    </div>
                </div>
            </div>
        </section>
        
        <footer>
            <div class="container">
                <img src="img/logo.png" alt="Lian logo">
                <p id="social-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#"><i class="fab fa-dribbble"></i></a>
                    <a href="#"><i class="fab fa-pinterest"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </p>
                <p>© 2016 <span>Mulitix Theme</span> by ThemeForces. All rights reserved.</p>
            </div>
        </footer>
    </body>
</html>