<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Lato|Roboto:300,400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=PT+Serif:700i" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">
        <link href="css/post.css" rel="stylesheet">
        <link rel="icon" type="image/png" href="img/favicons/favicon-16x16.png" sizes="16x16" data-mce-href="/favicon-16x16.png">
        <link rel="icon" type="image/png" href="img/favicons/favicon-32x32.png" sizes="32x32" data-mce-href="/favicon-32x32.png">
        <link rel="icon" type="image/png" href="img/favicons/favicon-96x96.png" sizes="96x96" data-mce-href="/favicon-96x96.png">
        <link rel="icon" type="image/png" href="img/favicons/android-chrome-192x192.png" sizes="192x192" data-mce-href="/android-chrome-192x192.png">
        <title>Lian</title>
    </head>
    <body>
        
        <header>
            <div class="container">
                <a href="index.html"><img src="img/logo.png" alt="Lian logo"></a>
                <nav>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="portfolio_details.html">Portfolio</a></li>
                        <li class="selected"><a href="blog.html">Blog</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        
        <section class="title-and-bg">
            <div class="container">
                <h1>News About Lian</h1>
                <h2>Latest News & Insights</h2>
            </div>
        </section>
        
        <article>
            <div class="container">
                <h1>I am a Blog Post with an Awesome Image</h1>
                <h2><span class="author">by Jenn Pereira</span>
                    <span class="date"><time datetime="2015-02-28">February 28, 2015</time></span>
                    <span class="likes"><i class="far fa-heart"></i> 324 likes</span>
                </h2>
                <img src="img/blog-img.jpg" alt="Lamps">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices aliquet augue eget convallis. Integer mollis eleifend risus, ac euismod mi pharetra id. Sed accumsan nisl id velit cursus consectetur. Ut placerat risus interdum, scelerisque augue sit amet, ultricies ex.</p>
                <p>Pellentesque suscipit, lectus non lacinia eleifend, odio mi pretium dolor, et fermentum ipsum dolor sed neque. Duis aliquet faucibus ipsum, sit amet rhoncus elit egestas sed. In placerat porta neque at vehicula. Maecenas et orci ante. Aliquam tristique mi non nisl pellentesque accumsan. Ut mollis eleifend nibh ac consectetur. Integer luctus sapien nec felis tincidunt faucibus nec non neque.</p>
                <blockquote>In ante nisl, tempor eu scelerisque tincidunt, bibendum eu arcu. Sed erat quam, accumsan nec malesuada vel, laoreet congue elit. Curabitur nec dui eget leo sollicitudin porttitor. Nulla at leo vel tortor pulvinar ornare eget eu leo. Aliquam imperdiet nunc risus, a cursus velit posuere placerat.</blockquote>
                <h3>This is a heading</h3>
                <p>Proin ut leo felis. Sed semper venenatis nunc at feugiat. Donec non dapibus nibh, sed malesuada metus. Nullam suscipit ultrices urna, in eleifend turpis. Aliquam suscipit placerat tristique. Aliquam vitae neque molestie, vestibulum lectus eget, tempor turpis. Nam sit amet neque urna. Praesent quis feugiat nulla. Donec at ultricies ligula, eget ultrices felis. Quisque eu cursus magna. Ut sit amet velit eu felis dignissim ultrices vitae quis elit. Praesent quis feugiat nulla. Donec at ultricies ligula, eget ultrices felis. Aliquam porta purus neque, ut condimentum odio porta eu.</p>
                <p>Proin ut leo felis. Sed semper venenatis nunc at feugiat. Donec non dapibus nibh, sed malesuada metus. Nullam suscipit ultrices urna, in eleifend turpis. Aliquam suscipit placerat tristique. Aliquam vitae neque molestie, vestibulum lectus eget, tempor turpis. Nam sit amet neque urna. Praesent quis feugiat nulla. Donec at ultricies ligula, eget ultrices felis. Quisque eu cursus magna. Ut sit amet velit eu felis dignissim ultrices vitae quis elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras dignissim lacinia augue vitae cursus. Phasellus in nulla in lacus interdum pellentesque. </p>
            </div>
        </article>
        
        <section class="comment">
            <div class="container">
                <h1>Leave a comment</h1>
                <form>
                    <input type="text" name="name" placeholder="Name">
                    <input type="email" name="email" placeholder="Email">
                    <input type="url" name="website" placeholder="Website">
                    <textarea name="message" placeholder="Message"></textarea>
                    <input type="submit" value="SEND MESSAGE">
                </form>
            </div>
        </section>
        
        
        
        <footer>
            <div class="container">
                <img src="img/logo.png" alt="Lian logo">
                <p id="social-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#"><i class="fab fa-dribbble"></i></a>
                    <a href="#"><i class="fab fa-pinterest"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </p>
                <p>© 2016 <span>Mulitix Theme</span> by ThemeForces. All rights reserved.</p>
            </div>
        </footer>
    </body>
</html>