body {
    height: 2000px;
    margin: 0;
}

p {
    color: white;
    margin: 0;
}

footer {
    background: black;
    padding: 10px;
    box-sizing: border-box;
    border-top: 4px solid #3DB5D8;
    position: fixed;
    width: 100%;
    bottom: 0;
}