body {
    height: 2000px;
}

ul {
    background: #EDF6FF;
    display: inline-block;
    padding: 10px 75px 10px 5px;
    position: fixed;
    top: 20%;
    right: 10px;
}

li {
    list-style-type: none;
    padding: 2px 0;
}