/* Общие стили */

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    max-width: 1249px;
    margin: 0 auto;
    padding: 0 15px;
}

.grid {
    display: grid;
}

p {
    font-size: 16px;
}

.section-title {
    font-weight: bold;
    font-size: 42px;
    text-transform: uppercase;
    color: #585858;
}

.red-line {
    width: 130px;
    height: 2px;
    background: #ff3b3b;
}

/* Кнопки */

.button_small {
    width: 273px;
    height: 51px;
    display: block;
    border: 2px solid #ff0000;
    background: #ff0000;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 18.14px;
    font-weight: bold;
    line-height: 51px;
    text-align: center;
}

/* Header */

header {
    background: #f6f2f2;
    padding-bottom: 123px;
}

header nav {
    padding-top: 29px;
    margin-bottom: 109px;
}

header nav ul {
    text-align: center;
    background: #313030;
}

header nav li {
    display: inline-block;
    margin-right: 8px;
}

header nav li:last-child {
    margin-right: 0;
}

header nav li a {
    color: #e0e0e0;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 89px;
    display: inline-block;
    padding: 0 23px;
}

header nav li.current-page a, header nav li a:hover {
    background: #ff3f40;
}

header video {
    float: right;
    width: 44%;
    margin-left: 10px;
}

header h1 {
    font-weight: 800;
    font-size: 5.4vw;
    text-transform: uppercase;
    line-height: 0.98;
    margin-bottom: 37px;
}

header p {
    max-width: 530px;
    margin-bottom: 62px;
}

/* Section: provide */

#provide {
    padding-top: 109px;
}

#provide .container {
    grid-template-columns: 1fr 1fr;
    column-gap: 10vw;
    padding-bottom: 230px;
    border-bottom: 2px solid #ececec;
}

.left-side h1 {
    line-height: 54.72px;
    margin-bottom: 52px;
}

.left-side p {
    max-width: 530px;
    margin-bottom: 58px;
}

.left-side .button_small {
    background: white;
    color: #ff2d2d;
}

.right-side {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 34px;
    grid-row-gap: 52px;
    color: #737373;
}

.right-side img {
    margin-bottom: 20px;
}

.right-side h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 18px;
}

/* Feature-products */

#feature-products {
    padding-top: 109px;
    text-align: center;
    padding-bottom: 133px;
}

#feature-products h1 {
    margin-bottom: 39px;
}

#feature-products p {
    color: #737373;
    max-width: 523px;
    margin: 0 auto;
    line-height: 30.67px;
}

#feature-products .red-line {
    margin: 20px auto 90px auto;
}

#feature-products nav {
    margin-bottom: 66px;
}

#feature-products nav ul {
    text-align: center;
}

#feature-products nav li {
    display: inline-block;
    margin-right: 58px;
}

#feature-products nav li:last-child {
    margin-right: 0;
}

#feature-products nav li a {
    color: #737373;
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}

#feature-products nav li.current-block a, #feature-products nav li a:hover {
    color: #ff2d2d;
}

.imgs {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
}

.imgs img {
    width: 100%;
    object-fit: cover;
    height: 22.5vw;
}

/* Our-team */

#our-team {
    padding-bottom: 105px;
}

#our-team h1 {
    margin-bottom: 35px;
}

#our-team p {
    max-width: 449px;
    color: #737373;
    margin-bottom: 37px;
}

#our-team .red-line {
    margin-bottom: 70px;
}

.member-choose {
    grid-template-columns: 33% 1fr;
    /*height: 462px;*/
    grid-column-gap: 74px;
}

.current-member img {
    width: 100%;
    /*height: 100%;*/
    object-fit: cover;
    display: block;
}

.info-and-other-members {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-and-other-members h2 {
    font-weight: 600;
    font-size: 30px;
    color: #585858;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.info-and-other-members li {
    display: inline-block;
    margin-right: 29px;
}

.info-and-other-members li:last-child {
    margin-right: 0;
}

.info-and-other-members li a {
    text-decoration: none;
    color: #585858;
    font-style: italic;
    font-size: 18px;
}

.other-members {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
}

.member {
    position: relative;
}

.member img {
    width: 100%;
    height: 12vw;
    object-fit: cover;
    object-position: 50% 0;
    display: block;
}

#our-team .member p {
    position: absolute;
    opacity: 0;
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;
    font-size: 14px;
    text-align: center;
    bottom: 0;
    margin-bottom: 0;
    padding-bottom: 6px;
    padding-top: 3px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
}

#our-team .member:hover p {
    opacity: 1;
}

/* Subscribe */

#subscribe {
    background: #f5f0dd;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 140px;
}

#subscribe h1 {
    color: white;
    font-size: 42px;
    letter-spacing: 0.2px;
    margin-bottom: 32px;
}

#subscribe p {
    color: white;
    margin-bottom: 60px;
}

#subscribe form {
    width: 60%;
    margin: 0 auto;
    height: 70px;
}

#subscribe form input {
    width: 68%;
    float: left;
    height: 100%;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 30px;
    font-size: 16px;
}

#subscribe form input::placeholder {
    font-size: 16px;
}

#subscribe form button {
    float: right;
    height: 100%;
    width: 28%;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    background: #ff2d2d;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

/* get-in-touch */

#get-in-touch {
    padding: 105px 0;
    overflow: hidden;
}

#get-in-touch h1 {
    margin-bottom: 35px;
}

#get-in-touch p {
    max-width: 726px;
    color: #737373;
    margin-bottom: 37px;
}

#get-in-touch .red-line {
    margin-bottom: 70px;
}

.form-and-contact-info {
    grid-template-columns: 55% 1fr;
    grid-gap: 10vw;
}

.form-and-contact-info form div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 46px;
}

.form-and-contact-info form div input {
    background: #e5e5e5;
    border: none;
    border-radius: 7px;
    height: 69px;
    width: 46%;
    box-sizing: border-box;
    padding-left: 30px;
    font-size: 18.14px;
}

.form-and-contact-info form div input::placeholder {
    font-size: 18.14px;
}

.form-and-contact-info form textarea {
    background: #e5e5e5;
    border: none;
    border-radius: 7px;
    resize: none;
    height: 250px;
    display: block;
    width: 100%;
    font-size: 18.14px;
    box-sizing: border-box;
    padding-top: 30px;
    padding-left: 30px;
    margin-bottom: 46px;
}

.form-and-contact-info form button {
    width: 100%;
    height: 69px;
    background: #ff3b3b;
    border: none;
    border-radius: 7px;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.contact-info {
    background: #2d2d2d;
    color: #e0e0e0;
    display: flex;
}

.contact-info::after {
    content: '';
    width: 2000px;
    background: #2d2d2d;
    height: 100%;
}

.contact-info div {
    margin: auto 5vw auto;
}

.contact-info h2 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 45px;
}

#get-in-touch .contact-info p {
    margin-bottom: 19px;
    color: #e0e0e0;
}

/* Footer */

footer {
    height: 111px;
    background: #313030;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

footer p {
    color: #b8b8b8;
}

footer li {
    display: inline-block;
    margin-right: 20px;
}

footer li:last-child {
    margin-right: 0;
}

@media (max-width:1150px) {
    .info-and-other-members h2 {
        margin-bottom: 18px;
    }
    
    #our-team p {
        margin-bottom: 12px;
    }
}

@media (max-width:950px) {
    #subscribe {
        padding: 60px 0;
    }
    
    header h1 {
        font-size: 45px;
    }
}

@media (max-width:850px) {
    #feature-products nav {
        margin-bottom: 45px;
    }
    
    #feature-products nav li {
        margin-right: 15px;
    }
    
    #feature-products nav li a {
        font-size: 20px;
    }
    
    header nav {
        margin-bottom: 30px;
    }
    
    header .container {
        display: flex;
        flex-direction: column;
    }
    
    header video {
        order: 1;
        margin: -50px 0 35px 0;
        max-width: 530px;
        width: 100%;
    }
    
    header .button_small {
        order: 2;
    }
}

@media (max-width:750px) {
    #get-in-touch {
        padding: 65px 0;
    }
    
    .contact-info h2 {
        margin-bottom: 15px;
    }
    
    #get-in-touch .contact-info p {
        margin-bottom: 7px;
        color: inherit;
    }
    
    .contact-info {
        background: inherit;
        color: inherit;
    }
    
    .contact-info div {
        margin: inherit;
    }
    
    #get-in-touch .red-line {
        margin-bottom: 40px;
    }
    
    .contact-info::after {
        width: 0;
        content: none;
    }
    
    .form-and-contact-info {
        grid-template-columns: auto;
    }
    
    .form-and-contact-info {
        grid-gap: 5vw;
    }
    
    #subscribe h1 {
        font-size: 35px;
        margin-bottom: 18px;
    }
    
    #subscribe p {
        margin-bottom: 40px;
    }
    
    #subscribe form {
        width: 80%;
    }
    
    #our-team .red-line {
        margin-bottom: 20px;
    }
    
    .member-choose {
        grid-template-columns: auto;
    }
    
    .current-member img {
        width: 250px;
    }
    
    .other-members {
        margin-top: 50px;
    }
    
    .member img {
        height: 18vw;
    }
    
    #feature-products {
        padding-bottom: 90px;
    }
    
    .imgs {
        grid-template-columns: repeat(2, 1fr);
    }
    
    #feature-products nav li {
        5px 15px 5px 0;
    }
    
    #provide .container {
        grid-template-columns: 1fr;
        grid-row-gap: 80px;
        padding-bottom: 109px;
    }
}

@media (max-width:650px) {
    footer .container {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    footer p {
        margin: 0 10px;
    }
}

@media (max-width:550px) {
    header nav li {
        margin-right: 6px;
    }
    
    header nav li a {
        font-size: 13px;
        padding: 0 13px;
        line-height: 65px;
    }
    
    #subscribe h1 {
        font-size: 30px;
        margin-bottom: 14px;
    }
    
    #subscribe form {
        width: 100%;
    }
}

@media (max-width:430px) {
    #our-team .member p {
        font-size: 11px;
    }
    
    header nav {
        width: 200px;
        margin: 0 auto 109px auto;
    }
    
    header nav li {
        display: block;
        margin-right: 0;
    }
    
    header nav li a {
        line-height: 50px;
    }
    
    header nav li.current-page a, header nav li a:hover {
        width: 40%;
    }
    
    header nav {
        margin: 0 auto 25px auto;
        padding-top: 10px;
    }
    
    .other-members {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    
    .member img {
        height: 38vw;
    }
    
    #subscribe form button, #subscribe form input, #subscribe form input::placeholder {
        font-size: 15px;
    }
    
    #subscribe form input {
        width: 60%;
    }
    
    #subscribe form button {
        width: 36%;
    }
    
    header h1 {
        font-size: 30px;
        margin-bottom: 15px;
    }
}

@media (max-width:350px) {
    .imgs {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .imgs img {
        height: 47.5vw;
    }
}