article {
    width: 75%;
    background: #F5F4F1;
    padding: 15px;
}

img {
    max-width: 100%;
}

figure {
    text-align: right;
    margin: 0;
    max-width: 70%;
    display: inline-block;
    box-sizing: border-box;
    border-right: 2px solid #BC8C59;
    padding-right: 10px;
}

figcaption {
    display: inline;
    font-size: 1.8vw;
}

p {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    font-size: 3vw;
    width: 25%;
    box-sizing: border-box;
    padding-left: 5px;
}