/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    footer .container {
        flex-direction: column;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .before-you-leave form.subscribe {
        width: 100%;
    }
    
    .before-you-leave form.subscribe input {
        width: 60%;
    }
    
    .before-you-leave form.subscribe button {
        width: 40%;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    header form.search {
        width: 80%;
    }
    
    header form.search input {
        width: 70%;
    }
    
    header form.search button {
        width: 30%;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}